<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<style>
/* alma primove search bar */
.primove-single-search *,.primove-single-search *::before,.primove-single-search *::after{box-sizing:border-box;margin:0;}
.primove-single-search input,.primove-single-search button,.primove-single-search select{margin:0;}
.primove-search-container{display:flex;flex-flow:row wrap;}
.primove-search-container>*{flex:1 100%;padding:12px;}
.primove-search__box>*{flex:1 100%;line-height:normal;}
.primove-search__box{border-radius:.462rem;display:flex;flex-wrap:wrap;font-size:1.25em;}
.primove-search__input-bquery{background:#fff;border:1px solid #A91B14;border-bottom-color:transparent;border-radius:.462rem .462rem 0 0;padding:.75em;}
.primove-search__input-bquery:focus{color:#333;}
.primove-search__submit-button{-webkit-appearance:button;background:#A91B14;border:1px solid #A91B14;border-radius:0 0 .462rem .462rem;box-shadow:0 2px 4px 0 rgba(0,0,0,.20);color:#FFFFFF;cursor:pointer;overflow:visible;padding:.5em 1.25em;text-align:center;white-space:nowrap;}
.primove-search__submit-text{display:inline-flex;overflow:hidden;}
.primove-search__label{align-items:center;display:inline-flex;white-space:nowrap;width:100%;}
.primove-search__input{height:1.1em;}
.primove-search__span{padding:0 .5em;}
.primove-search-container__has-select .primove-search__search-prefix{background-color:#fff;border-radius:.462rem 0 0 .462rem;margin-bottom:.75em;position:relative;}
.primove-search-container__has-select .primove-search__search-prefix:after,.primove-search__search-prefix:before{bottom:0;content:"";pointer-events:none;position:absolute;top:0;}
.primove-search-container__has-select .primove-search__search-prefix:before{right:0;width:1.75em;}
.primove-search-container__has-select .primove-search__search-prefix:after{border-bottom:2px solid #000;border-right:2px solid #000;height:.5em;margin:auto;right:.75em;transform-origin:center right;transform:rotate(45deg);width:.5em;z-index:2;}
.primove-search-container__has-select .primove-search__select{-webkit-appearance:none;appearance:none;background:#fff;border:1px solid #A91B14;border-radius:.462rem;box-shadow:none;color:#000;height:100%;padding:.5em 1.75em .5em .75em;width:100%;}
.primove-search-container__has-select .primove-search__select:focus{color:#000;}
.primove-search-container__has-select .primove-search__select::-ms-expand{display:none;}
html[dir="rtl"] .primove-search__select {padding: .5em .75em .5em 1.75em;}
html[dir="rtl"] .primove-search__search-prefix:before{left:0;right:inherit;}
html[dir="rtl"] .primove-search__search-prefix:after{left:.75em;right:inherit;}
@media only screen and (min-width: 768px) {
  .primove-search-container{padding:.75em;}
  .primove-search__box{flex-wrap:nowrap;height:2.8em;box-shadow:0 2px 4px 0 rgba(0,0,0,.20);}
  .primove-search__input-bquery{border-bottom-color:#A91B14;border-radius:.462rem 0 0 .462rem;border-right-color:transparent;width:100%;}
  .primove-search__submit-button{border-radius:0 .462rem .462rem 0;box-shadow:none;flex:0 0 auto;}
  .primove-search__label{width:auto;}
  .primove-search-container__has-select .primove-search__search-prefix{flex:1 0 auto;margin-bottom:0;}
  .primove-search-container__has-select .primove-search__select{flex:0 0 auto;border-radius:0;}
  .primove-search-container__has-select .primove-search__search-prefix:nth-of-type(1) .primove-search__select{border-radius:.462rem 0 0 .462rem;}
  .primove-search-container__has-select .primove-search__input-bquery{border-left-color: transparent;border-radius:0;}
  .primove-search-container__has-select-two .primove-search__search-prefix:nth-of-type(1) > .primove-search__select{border-right-color: transparent;}
  html[dir="rtl"] .primove-search__input-bquery{border-radius:0 .462rem .462rem 0;border-left-color:transparent;border-right-color:inherit;}
  html[dir="rtl"] .primove-search__submit-button{border-radius:.462rem 0 0 .462rem;border-left-color:inherit;border-right-color:transparent;}
  html[dir="rtl"] .primove-search__select{border-radius:0 .462rem .462rem 0;border-right-color:inherit;}
  html[dir="rtl"] .primove-search-container__has-select .primove-search__input-bquery{border-radius:0;border-right-color:transparent;}
  html[dir="rtl"] .primove-search-container__has-select .primove-search__search-prefix:nth-of-type(1) .primove-search__select{border-radius:0 .462rem .462rem 0;}
  html[dir="rtl"] .primove-search-container__has-select-two .primove-search__search-prefix:nth-of-type(1) > .primove-search__select{border-left-color: transparent;border-right-color: inherit;}
  html[dir="rtl"] .primove-search-container__has-select-two .primove-search__search-prefix:nth-of-type(2) > .primove-search__select{border-radius: 0;}
}
#primoveText {font-size:4rem;}
#primoveImage {margin-bottom:10px;margin-left:5px;}
@media (min-width: 0px) {#primoveImage {width:50%;}}
@media (min-width: 200px) {#primoveImage {width:20%;}#primoveText {font-size:1.2rem;}}
@media (min-width: 370px) {#primoveImage {width:40%;}#primoveText {font-size:2rem;}}
@media (min-width: 576px) {#primoveImage {width:25%;}#primoveText {font-size:2.5rem;}}
@media (min-width: 992px) {#primoveImage {width:20%;}#primoveText {font-size:3rem;}}
@media (min-width: 1200px) {#primoveImage {width:10%;}}

/* HIDDEN ALL THE TIME */
.az-landing-image, #s-lib-footer-public, #s-lg-az-filter-cols>.col-sm-6, #s-lib-bc-blogs, #s-lib-public-header-title {
    display: none!important;
}

/* GLOBAL STYLES */
::selection {
    background: #ffff99;
    color: black;
}
:root {
    --bs-border-radius: .462rem;
}
body {
    --bs-font-sans-serif: "Atkinson Hyperlegible",  sans-serif;
    font-weight: 400;
}
#s-lib-public-header-desc {
  white-space: normal!important;
}
h1 {
    font-weight: 600;
}
a:active {
    color: #2E89FF;
}
#s-lib-scroll-top .fa-square-o {
    color: black;
    border-color: #A01713;
}
#s-lib-scroll-top .fa-angle-double-up {
    color: black;
    border-color: #A01713;
}
#s-lib-public-main, #s-lib-public-header {
    width: 95%;
}
.accordion {
    border-radius: .462rem;
    --bs-accordion-inner-border-radius: .462rem;
}
.dropdown-menu {
    --bs-dropdown-border-radius: .462rem;
    --bs-dropdown-inner-border-radius: .462rem;
}
#s-ui-cc-main {
    justify-content: center;
}

/* TODAY HOURS */
.today-hours {
padding-right: 3rem;
}
.hours-col-loc {
padding-right: .5rem;
float: left;
}
.hours-col-time {
float: right;
}

/* BUTTONS */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #A91B14;
    --bs-btn-border-color: #a01a13;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #891610;
    --bs-btn-hover-border-color: #a01a13;
    --bs-btn-focus-shadow-rgb: 150, 150, 150;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #891610;
    --bs-btn-active-border-color: #a01a13;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #14a914;
    --bs-btn-border-color: #13a013;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #108910;
    --bs-btn-hover-border-color: #13a013;
    --bs-btn-focus-shadow-rgb: 150, 150, 150;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #108910;
    --bs-btn-active-border-color: #13a013;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754
}
.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #145ea9;
    --bs-btn-border-color: #1359a0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #104d89;
    --bs-btn-hover-border-color: #1359a0;
    --bs-btn-focus-shadow-rgb: 150, 150, 150;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #104d89;
    --bs-btn-active-border-color: #1359a0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0
}
.btn-warning {
    --bs-btn-color: #fff;
    --bs-btn-bg: #a95e14;
    --bs-btn-border-color: #a05913;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #894d10;
    --bs-btn-hover-border-color: #a05913;
    --bs-btn-focus-shadow-rgb: 150, 150, 150;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #894d10;
    --bs-btn-active-border-color: #a05913;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107
}
.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 150, 150, 150;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545
}
.btn-primary {
    background-color: #A91B14;
    border-color: #a01a13;
    font-size: 1em;
}
.btn-primary:hover {
    background-color: #891610;
    border-color: #a01a13;
}
.btn-success {
    background-color: #14a914;
    border-color: #13a013;
    font-size: 1em;
}
.btn-success:hover {
    background-color: #108910;
    border-color: #13a013;
}
.btn-info {
    background-color: #145ea9;
    border-color: #1359a0;
    font-size: 1em;
}
.btn-info:hover {
    background-color: #104d89;
    border-color: #1359a0;
}
.btn-warning {
    background-color: #a95e14;
    border-color: #a05913;
    font-size: 1em;
}
.btn-warning:hover {
    background-color: #894d10;
    border-color: #a05913;
}
.btn:focus-visible {
    color: white;
    background-color: #707070;
    border-color: #6b6b6b;
    outline: 0;
}
.btn-search {
    background-color: #a91484;
    color: white;
    border-color: #a0137d;
    font-size: 1em;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 0 .462rem .462rem 0;
}
.btn-search:hover {
    background-color: #89106b;
    color: white;
    border-color: #a0137d;
    font-size: 1em;
}
#libguide-search {
    border-radius: .462rem 0 0 .462rem;
    width: 20rem;
}

/* PAGINATION */
.pagination {
    --bs-pagination-border-color: #545454;
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #545454;
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #414042;
    --bs-pagination-disabled-color: #fff;
    --bs-pagination-disabled-bg: #414042;
    --bs-pagination-disabled-border-color: #414042;
    --bs-pagination-border-radius: .462rem;
}
.active>.page-link, .page-link.active {background-color: #F4840D;}

/* BREADCRUMBS */
.breadcrumb {
    color: black;
    font-size: 0.95rem;
    font-weight: 600;
}
.breadcrumb a {
    color: black;
    font-weight: 600;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #A91B14;
}
#s-lib-bc-page {
    font-size: 0.95rem;
}

/* MENU */
.banner-title {
    letter-spacing: -1px;
    font-weight: 500;
    color: black;
}
.dropdown-menu {
    border: var(--bs-dropdown-border-width) solid  #414042;
    border-radius: 0;
}
#nav-styles {
    background-color: #545454;
    padding: 0;
    border-radius: 0;
}
.navbar-nav .nav-link {
    color: white;
    font-size: 1.15em;
    font-weight: 500;
    border-radius: 0;
    padding: 0.8rem;
}
.navbar-nav .nav-link:hover {
    background-color: #414042;
    border-color: #414042;
}
.navbar-toggler {
    border: solid 0.15rem white;
    color: white;
    margin: 0.5rem;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: url("https://api.iconify.design/pajamas:hamburger.svg?color=%23ffffff");
}
@media screen and (min-width: 43.75rem){#goaway {display: none!important;}}

/* HIDDEN WHEN SCREEN SMALL */
@media screen and (max-width: 43.75rem){#mobile-hidden, #s-lg-az-popular, #s-lg-az-trials, #s-lg-az-icon-legend, #s-lg-az-subject-resources {display: none!important;}}
@media screen and (max-width: 63rem){#lib-chat-button {display: none!important;}}

@media screen and (max-width: 768px){.list-group-item {text-align:center;}}

/* AZ */
ul.select2-results__option, ul.select2-results__options {font-size: 0.8em !important;}

/*Colours*/
#az-search-col-1>nav {
    background-color: #f2f2f2;
    border: .1rem solid #e6e6e6;
    border-radius: .462rem;
}
#s-lg-az-index button {
    color: #003C8D;
}
#s-lg-az-index button[disabled=disabled] {
    color: #545454;
    font-weight: 400;
}
.s-lg-az-result-badge-popular {
    background-color: #9B025E;
    color: white;
    border-radius: .462rem;
}
.s-lg-az-result-badge-new {
    background-color: #BFCB41;
    color: black;
    border-radius: .462rem;
}
#az-public-mobile-filters .btn-primary {
    background-color: #A91B14;
    border-color: #A01713;
    border-radius: .462rem;
}
#az-public-mobile-filters .btn-primary:hover {
    background-color: #A01713;
    border-color: #540E0C;
    border-radius: .462rem;
}
#s-lg-az-popular, #s-lg-az-trials {
    background-color: inherit;
    border: .1rem solid #545454;
    border-radius: .462rem;
}
#s-lg-az-icon-legend div.az-icon-legend-key>img {
    width: auto;
    height: 16px;
}
.s-lg-db-panel-title {
    border-radius: 0;
}
.az-public-collapsible-box .accordion-item {
    border-radius: .462rem;
    border-color: #545454;
}
/*Restyles the "back" link to look like a button.*/
.az-landing-back-link {
display: inline-flex;
transform: translateY(-0.3rem);
text-decoration: none;
}
.az-landing-back-link:link, .az-landing-back-link:visited {
border: 1px solid #231e21;
border-radius: 0.375rem;
padding: .25rem .5rem;
}
.az-landing-back-link:hover, .az-landing-back-link:focus {
background-color: #99a1a8;
border-color: #414042;
transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.az-landing-back-link:focus-visible {
box-shadow: 0 0 0 .25rem rgba( 108,117,125,.5);
outline: none;
}
.az-landing-back-link:active {
background-color: #51585e;
border-color: #6c757d;
transition: background-color .15s ease-in-out,border-color .15s ease-in-out
}
.az-landing-back-link>img {
margin-right:0!important;
}
.az-landing-back-link:hover>img, .az-landing-back-link:focus>img, .az-landing-back-link:active>img {
filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(291deg) brightness(101%) contrast(103%);
transition: filter .15s ease-in-out;
}
/*Adds warning icon to the warning.*/
.az-landing-page-alert::after, .az-page-alert::after {
  content: "\f005";
  font-family: 'FontAwesome';
  font-size: 2.5rem;
  color: #f6c000;
  position: absolute;
}
.az-landing-page-alert>.flex-column, .az-page-alert>.flex-column {
  margin-left: 3.5rem
}
/*AZ SEARCH BAR*/
/*Reduces the huge padding on the search bar.*/
#s-lg-az-filters {
    padding-top: 0.465rem;
    padding-bottom: 0.465rem;
    padding-left: 2rem;
    padding-right: 0;
}
#s-lg-az-filter-cols>.pt-3 {
padding-top: 0!important;
}
/*Reduces padding in the row of search boxes. The <div> specification is necessary to overwrite the defaults.*/
#s-lg-az-filter-cols div.row {
    border-radius: .462rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: .1rem solid #e6e6e6;
}
#s-lg-az-filter-cols div.row>div {
    border-radius: 0;
    border-right: 2px solid #e5eaee;
    padding-right: 10px;
}
/*Enlarges the keyword search to provide more space for typing. Keeps text from overlapping the inset shadow.*/
#col-search .justify-content-start {
width: 100%;
height: 100%;
}
.s-lg-az-search {
width: 100%;
height: 100%;
padding: 0 .3rem 0 .75rem!important;
}
/*Enlarges selections to match the keyword search and adds padding after the icon. Prevents shadow on the dropdown menu from overlapping the input.*/
.select2 {
height: 100%!important;
width: 100%!important;
background-color: #fefffe;
}
.select2-selection {
display: block;
padding-left: .75rem;
padding-right: 1.2rem;
}
/*Adjusts text boxes to be on the same line as the keyword input in Firefox.*/
textarea.select2-search__field {
height: 14px!important;
}
/*Removes the float:left from inputs in Chrome.*/
.select2-container .select2-search--inline {
float: none;
}
/*Adjusts text boxes to be on the same line as the keyword input in Chrome. Reduces space between multiple selections and keeps the left margin flush.*/
input.select2-search__field {
margin-right: .25rem;
-ms-transform: translateY(3px);
-o-transform: translateY(3px);
-moz-transform: translateY(3px);
-webkit-transform: translateY(3px);
transform: translateY(3px);
}
/*Re-adjusts the text box in Chrome after a selection has been made.*/
.select2-selection__choice+.select2-search--inline>input.select2-search__field {
-ms-transform: translateY(1.3px);
-o-transform: translateY(1.3px);
-moz-transform: translateY(1.3px);
-webkit-transform: translateY(1.3px);
transform: translateY(1.3px);
}
/*Adjusts the selections in Chrome*/
.select2-selection__choice {
margin: 0 .25rem 0 0!important;
-ms-transform: translateY(7px);
-o-transform: translateY(7px);
-moz-transform: translateY(7px);
-webkit-transform: translateY(7px);
transform: translateY(7px);
}
/*Re-adjusts the selections in Firefox. Makes them bold as in Chrome.*/
.select2-selection__choice__display {
font-weight: 600!important;
-ms-transform: translateY(-4px);
-o-transform: translateY(-4px);
-moz-transform: translateY(-4px);
-webkit-transform: translateY(-4px);
transform: translateY(-4px);
}
/*Allows display of multiple selections in Chrome.*/
.select2-container .select2-selection--multiple .select2-selection__rendered {
white-space: normal;
padding-left: 0;
}
/*Restores the "Remove item" button in Chrome. The zeroed transformation is necessary for some reason.*/
#s-lg-az-filters span.select2-selection__choice__remove {
display: inline!important;
position: relative;
height: 0.4rem;
width: 0.6rem;
-ms-transform: translateY(0rem);
-o-transform: translateY(0rem);
-moz-transform: translateY(0rem);
-webkit-transform: translateY(0rem);
transform: translateY(0rem);
}
/*Restores the "Remove item" button in Firefox.*/
#s-lg-az-filters button.select2-selection__choice__remove {
display: inline!important;
height: 0.4rem;
width: 0.4rem;
padding: 0!important;
-ms-transform: translateY(-7px);
-o-transform: translateY(-7px);
-moz-transform: translateY(-7px);
-webkit-transform: translateY(-7px);
transform: translateY(-7px);
}
/*Makes the appearance of commas more regular between multiple selections in Firefox; doesn't affect Chrome.*/
ul[id^="select2-s-lg-sel-"]>.select2-selection__choice:nth-last-child(n+2)::after {
content: ",";
position: relative;
bottom: 4px;
}
/*Tightens the dropdown options in the AZ search. Adds border for visibility.*/
.select2-dropdown--below {
padding: 0 0 .75rem!important;
border: 1px solid rgba(0, 0, 0, 0.176)!important;
border-top: none!important;
}
.select2-dropdown--above {
padding: .75rem 0 0!important;
border: 1px solid rgba(0, 0, 0, 0.176)!important;
border-bottom: none!important;
}
.select2-results__option {
padding: .25rem 1.25rem!important;
}
/*Shortens the dropdown menu slightly.*/
.select2-container--bootstrap5 .select2-dropdown .select2-results__options {
max-height: 240px;
}
/*Adds animated carets after the dropdowns. This placement makes the caret clickable.*/
.select2 .select2-selection::after {
content: "";
border-top: 0;
border-right: 0.3em solid transparent;
border-bottom: 0.3em solid;
border-left: 0.3em solid transparent;
display: inline-flex;
position: absolute;
top: 50%;
right: .5rem;
-o-transition: all .3s linear;
-moz-transition: all .3s linear;
-webkit-transition: all .3s linear;
transition: all .3s linear;
-o-transform: rotate(180deg) translateY(0.15rem);
-ms-transform: rotate(180deg) translateY(0.15rem);
-moz-transform: rotate(180deg) translateY(0.15rem);
-webkit-transform: rotate(180deg) translateY(0.15rem);
transform: rotate(180deg) translateY(0.15rem);
}
.select2-container--open .select2-selection::after {
-o-transition: all .3s linear;
-moz-transition: all .3s linear;
-webkit-transition: all .3s linear;
transition: all .3s linear;
-ms-transform: translateY(-0.15rem);
-o-transform: translateY(-0.15rem);
-moz-transform: translateY(-0.15rem);
-webkit-transform: translateY(-0.15rem);
transform: translateY(-0.15rem);
}
#s-lg-az-filter-cols .fa-angle-down {
display: none;
}
/*Decreases the size of the "recommended databases"*/
.recommended-list {
font: .9rem;
}

/*AZ PAGE FILTERS*/
/Adds margin-bottom to make up for missing padding on the alpha list buttons./
#s-lg-az-result-count {
margin-bottom: 1.25rem;
}
/*Restores the "Remove" button on the AZ filter chips.*/
#s-lg-az-result-count>.d-lg-none {
margin-right: 1rem;
}
.az-filter-chip {
padding-right: 8px;
}
.az-filter-chip>a {
display: inline-flex!important;
height: 1rem;
width: 1rem;
margin-left: .25rem;
-ms-transform: translateY(20%);
-o-transform: translateY(20%);
-moz-transform: translateY(20%);
-webkit-transform: translateY(20%);
transform: translateY(20%);
cursor: pointer;
}
/*Normalizes the cursor on the mobile filter edit button.*/
#az-mobile-filter-edit {
cursor: pointer;
}

/* BLOGS */
.posts-view-horizontal .posts-and-sidebar-container {
    display: flex;
    justify-content: space-evenly;
}
.posts-view-vertical .posts-and-sidebar-container {
    display: flex;
    justify-content: space-evenly;
}
.posts-view-horizontal h1 {
    display: none;
}

/* FOOTER CHAT WIDGET */
#lib-chat-button {
    position: fixed;
    bottom: 0px;
    right: 1.2rem;
    z-index: 1;
}
.btn-chat-online {
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #A91B14;
    background-image: none;
    border-radius: .462rem .462rem 0 0;
    text-decoration: none;
}
.btn-chat-online:hover {
    color: white;
    border-color: #a01a13;
    background-color: #A01713;
}
.btn-chat-online:active {
    color: white!important;
    border-color: #a01a13!important;
    background-color: #A01713!important;
}
.btn-chat-offline {
    border: none;
    color: black;
    padding: 1.5rem 2rem 1.5rem 2rem;
    background-color: #e0ae1a;
    background-image: none;
    border-radius: .462rem .462rem 0 0;
    text-decoration: none;
}
.btn-chat-offline:hover {
    color: white;
    border-color: #a07d13;
    background-color: #a07d13;
}
.btn-chat-offline:active {
    color: white!important;
    border-color: #a07d13!important;
    background-color: #a07d13!important;
}

/* FOOTER */
.cus-footer-logo, .land-text {padding:1rem;}
@media screen and (max-width: 43.75rem){.cus-footer-logo {text-align: center;}

</style>
